.side a[href*="okay"] {
    padding-left: 50px;
    color: green;
}

.side a[href*="info"] {
    padding-left: 50px;
    color: gray;
}

.side a[href*="warning"] {
    padding-left: 50px;
    color: yellow;
}

.side a[href*="unavailable"] {
    padding-left: 50px;
    color: red;
}

.side td a[href*="status.simple.com/"] {
    color: black
}